apiVersion: v1
kind: Service
metadata:
  labels:
    app: myapp
  name: myapp
spec:
  ports:
  - port: 4444
    protocol: TCP
    targetPort: 4444
    nodePort: 30001 
  selector:
    app: myapp 
  type: NodePort
